[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.4b2"
coverage = "==5.5"
flake8 = "==3.9.1"
httpretty = "==1.0.5"
mypy = "==0.812"

[packages]
boto3 = "==1.17.61"
requests = "==2.25.1"

[requires]
python_version = "3.9"
