[[source]]
name = "artifactory"
url = "https://artefacts.tax.service.gov.uk/artifactory/api/pypi/pips/simple/"
verify_ssl = true

[dev-packages]
black = "~=24.3.0"
coverage = "~=6.3.1"
flake8 = "~=4.0.1"
httpretty = "~=1.1.4"
mypy = "==0.931"
pytest = "~=7.2.0"
pytest-cov = "~=3.0.0"
freezegun = "~=1.2.1"

[packages]
boto3 = "~=1.20.52"
requests = "~=2.32.0"
tenacity = "~=8.1.0"

[requires]
python_version = "3.9"
